language: cpp
compiler: gcc

before_install:
  - sudo apt-get update -y
  - sudo apt-get install -y cmake make

before_script:
  - cd build
  - mkdir project
  - cd project
  - ../MakeUnixMakefiles.sh 

script: make all
